<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.benibela.videlibri"
      android:versionCode="1680"
      android:versionName="1.680">
    <!--<uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />
    <application android:label="@string/app_name" 
        android:icon="@drawable/icon"
        android:theme="@style/Theme.VideLibri"
        android:name=".VideLibriApp"
    >
        <activity android:name="VideLibri"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LibraryList"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>


        <activity android:name=".AccountInfo"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>


        <activity android:name=".Search"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>

        <activity android:name=".SearchResult"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>

        <activity android:name=".Options"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>

        <activity android:name=".About"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>

        <activity android:name=".Feedback"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>

        <activity android:name=".NewLibrary"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>

        <activity android:name=".RenewList"
                  android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name"
                  android:launchMode="singleTop">

        </activity>


        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@android:style/Theme.Dialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true" />

        <service android:name=".NotificationService" >
        </service>

        <receiver android:name=".NotificationOnBootCompleted"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".NotificationShowNow" >
        </receiver>

    </application>


</manifest> 
