body     { font-size: 70%; font-family: Verdana, sans-serif; }
table    { font-family: "Verdana, sans-serif"; margin-top: 12;margin-bottom: 12; }
th       { padding: 4,12,4,0; }
td       { font-size: 70%; padding: 4,12,4,0; }
h1       { font-weight: bold; font-size: 145%; font-family: Verdana, sans-serif; }
h2       { font-weight: bold; font-size: 130%; font-family: Verdana, sans-serif; }
h3       { font-weight: bold; font-size: 115%; font-family: Verdana, sans-serif; }
h4       { font-weight: bold; font-size: 100%; margin-top: 3pt; font-family: "Tahoma, Verdana, sans-serif"; }
h5       { font-weight: bold; font-size: 90%; margin-top: 3pt; font-family: "Tahoma, Verdana, sans-serif"; }
code     { font-size: 81%; font-family: "Lucida Sans Typewriter, Courier New, monospace"; }
pre      { font-size: 81%; font-family: "Lucida Sans Typewriter, Courier New, monospace";  padding-left: 3em}
dt       { margin-top: 3pt; }
li       { margin-top: 3pt; }
img      { vertical-align: middle; }
.indent1 { margin-left: 12pt; }
.indent2 { margin-left: 24pt; }
.indent3 { margin-left: 36pt; }
.pi1     { padding-left: 12pt }
.pi2     { padding-left: 24pt }
.pi3     { padding-left: 36pt }
.pi4     { padding-left: 48pt }
.pi5     { padding-left: 66pt }
div.main { max-width: 50em; margin: auto ; line-height: 1.5}