h1 {border-bottom: 5px solid red; border-right: 3px solid red; padding: 0.3em; margin-bottom:0; background-color: #C00000; color: #DDFFDD; text-align: center}
h2 {border-bottom: 3px solid green; border-right: 3px solid green; padding: 5px; padding-top: 4em; }
h2 div {background-color: green; padding: 0.4em}
h2 a {display: block; max-width: 45em; margin: auto; color: white}
.f1list {padding-left: 4em; list-style: none}
.f1list h3 {margin-left: -1em}
div.footer { border-right: 3px solid green; border-top: 3px solid green; margin-top: 1em; padding-top: 5em; padding-bottom: 3em }
div.footer a { padding-left: 3em; padding-right: 3em }

#navigation{
  background-color:#DFDF80;
  color:#202047;
  font-family:sans-serif;
  font-size:0.8em;
  margin: 0;
  margin-bottom: 2em;
  padding: 3px;
  display: block; 
  padding: 0em
}

#navigation li{
  display: inline-block;
  background-color:#DFDF80;
  border-right: 1px solid blue;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;  
  padding-left: 0;
  padding-right: 0;  
}
#navigation a{color:#202047; text-decoration: none;padding:1em;}
#navigation a:visited{color:#202047}
#navigation a:hover {color: red; background-color: #AAFFAA}
.city td{border-top:1px solid #00EE00;}
.bibsupport a { text-decoration: none; }
.bibsupport a:hover { text-decoration: underline; }

.systemsupport td{border-bottom: 1px solid #00EE00;}

.content { max-width: 60em; margin-left: auto; margin-right: auto; border-right: 1px solid green; border-left: 1px solid green; padding: 2em }

.content img {margin: 1em; max-width: 100% }

th { background-color: #E0FFE0; }

table i { font-size: 70% } 

.desktop {  }

table.downloadTable td { padding: 3px 12px 3px 12px}


#testing-table .date {float: left; width: 50%; padding-left: 2em}
#testing-table .libname {float: left; width: 50%; color: #333333}
#testing-table .search {float: left; width: 20%}
#testing-table .account {float: left; width: 20%}
#testing-table .text {float: left; margin-left: -6em; width: 50%}
#testing-table h4 { display: inline; font-weight: 500 }
#testing-table .time-line {font-size: 70%;}
#testing-table div.library {margin-bottom: 1em}

#testing-table div {overflow: auto}

.header-row {     background-color: #E0FFE0; padding-top: 1em; padding-bottom: 1em }
.city {     border-top: 2px solid #00CC00; margin-top: 1.5em }

#testing-table div.library div.log {display: none }
#testing-table div.library:hover div.log {display: block;  }
#testing-table div.library:focus div.log {display: block; }

.content { 
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

