.content { padding: 0.5em }
.content img { margin: 0 }
.f1list { padding: 1em }


table.downloadTable  { max-width: 100% }
table.downloadTable tr { display: block }
table.downloadTable th { display: inline-block }
table.downloadTable td { display: inline-block }

#testing-table .date {float: none; display: block;  padding-left: 0.1em}
#testing-table .libname {float: none; display: block }
#testing-table .search {float: none; display: block; width: auto;  padding-left: 1em}
#testing-table .account {float: none; display: block; width: auto;  padding-left: 1em}
#testing-table .text {float: none; display: block; width: auto; margin-left: 0;  padding-left: 1em}
#testing-table h4 { display: block }
#testing-table .search:before {content: "Suche: "}
#testing-table .account:before {content: "Konto: "}

.city { margin-top: 1em }

table.systemsupport tr { display: block }
table.systemsupport th { display: inline-block }
table.systemsupport td { display: inline-block }
